@charset "utf-8";
/* CSS Document */
body{
background-color:#FFF;
font-family:Monaco,Consolas,'Lucida Grande','Lucida Console';
font-size:16px;
text-shadow:rgba(0,0,0,0.01) 0 0 0;
}
.container{width:960px;margin:5px;float:left;}
.login_fields{height:30px !important;width:97%;}
.btn-primary.btn-lg.btn-block{height:42px !important;}
.margin-top-12{margin-top:12px;}
.margin-bottom-12{margin-bottom:12px;}
.margin-left-12{margin-left:12px !important;}
#loginModal{ left: 0;margin: 0 auto !important;position: relative;top: 200px;width: 420px;}
.red{background: none repeat scroll 0 0 #FFD5CD !important;border-radius: 6px;border: 1px solid #EC907F !important;padding-top:2px;padding-bottom:3px;text-align:center;color: #A75546 !important;}
.left{float:left !important;}
.right{float:right !important;}
.welcome{color:#ffffff;margin-top:10px;}
.logout{background-image: url("../images/logout.png");background-position: 0 7px;background-repeat: no-repeat;background-size: 24px 24px;float: right;height: 40px;margin: 0 4px 0 12px;width: 24px;}
.content{padding-top:42px;}
.pad10{padding:10px !important; margin:10px !important;}
.well.sidebar-nav{border-radius:0;margin-top:-1px;margin-bottom:0;}
.navigation{width:308px;}
.main_content{width:67.5%;width: -webkit-calc(100% - 308px);width: -moz-calc(100% - 308px);width: calc(100% - 308px);float:left;overflow:hidden;}
.outer_tab label{font-size:14px;color:#797979;float:left;width:240px;line-height:52px;margin-bottom: 0;padding-right:10px;text-align:right; border-right: 1px solid #d8d8d8;background:#fafafa;}
.outer_tab select{color:#515151;float:left;margin-bottom:0;width:360px;height:34px;margin-left:10px;margin-top:8px;}
.content_settings{padding: 1% 5% 0;text-align: center;}
.outer_tab{border:1px solid #d4d4d4;border-bottom:none;float:left;width:100%;padding: 5px 0px;}
.content_settings h1{font-size:30px;}
.outer_tab:last-child{border-left:none;border-right:none;padding-top:14px;}
.width-100{width:100px !important;}
.btn.width-100{margin-left:12px;padding:6px;}

.config-blk-header {
    margin-bottom: 2%;
}

.config-blk-header h1 {
    display: inline;
}

.config-blk-settings {

}

.outer_tab-values {
    display: inline-block;
    float: left;    
}

.date-setting select {
    width: auto;
}
.config-blk-settings input[type='text'] {
    line-height: 30px;
    margin: 8px 0 0 10px;
    padding: 8px 7px;
    width: 345px;
}
.email_tab, .keywords_tab{border-bottom:1px solid #d4d4d4;padding: 5px 10px;text-align:left;}
.email_tab button.btn, .keywords_tab button.btn{margin-left:10px;margin-top:8px;}
.email_tab .email, .keywords_tab .keywords{margin-top:8px;width:60%;}
.email_tab.last-child , .keywords_tab.last-child{height:42px; background: none repeat scroll 0 0 #fafafa;}

@media all and (max-width: 1300px) {
.content_settings{padding:3% 20% !important;}
.email_tab .email, .keywords_tab .keywords {width: 50%;}
}

.autocomplete {
    width: 100%;
}
 
*::-moz-selection {
    background: none repeat scroll 0 0 #b3d4fc;
    text-shadow: none;
}

.ui-widget, .ui-widget input {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
}

.outer_tab input[type='checkbox'] {
    margin-left: 10px;
}

.ui-autocomplete-multiselect.ui-state-default {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: text;
    display: block;
    line-height: 30px;
    margin-left: 10px;
    margin-top: 8px;
    overflow: hidden;
    padding: 3px 3px 0;
    text-align: left;
    width: 360px !important;
}
.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item .ui-icon {
    cursor: pointer;
    float: right;
}
.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item {
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 2px;
    padding: 1px 3px;
}
.ui-autocomplete-multiselect input[type='text'] {
    border: medium none;
    display: inline-block;
    height: auto;
    margin: 2px 2px 5px;
    outline: medium none;
    overflow: visible;
    text-align: left;
}
.ui-autocomplete-multiselect.ui-state-active {
    border: 1px solid #7ea4c7;
    box-shadow: 0 0 5px rgba(50, 150, 255, 0.5);
    outline: medium none;
}
.ui-autocomplete {
    border-top: 0 none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.green{
background: none repeat scroll 0 0 #CCEBCC;
border: 1px solid #71C671;
border-radius: 6px;
color: #008A2E;
padding-top:2px;
padding-bottom:3px;
margin-bottom:20px;
}
.clear{clear:both;}
.search_results{
margin-top:30px;
}